# Obtención de datos a partir de CEP - API
Fuentes:
* https://brasilapi.com.br/docs
* https://servicodados.ibge.gov.br/api/docs/localidades?versao=1#api-_

In [2]:
# Librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Api requests
import json
import requests

## Conexión a la API para traer informción de los estados y siglas

In [30]:
# Conexión a la API y 
r = requests.get('https://servicodados.ibge.gov.br/api/v1/localidades/mesorregioes')
content = [c['UF'] for c in json.loads(r.text)]
br_info = pd.DataFrame(content)

In [31]:
br_info

,id,sigla,nome,regiao
0,11,RO,Rondônia,"{'id': 1, 'sigla': 'N', 'nome': 'Norte'}"
1,11,RO,Rondônia,"{'id': 1, 'sigla': 'N', 'nome': 'Norte'}"
2,12,AC,Acre,"{'id': 1, 'sigla': 'N', 'nome': 'Norte'}"
3,12,AC,Acre,"{'id': 1, 'sigla': 'N', 'nome': 'Norte'}"
4,13,AM,Amazonas,"{'id': 1, 'sigla': 'N', 'nome': 'Norte'}"
...,...,...,...,...
132,52,GO,Goiás,"{'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}"
133,52,GO,Goiás,"{'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}"
134,52,GO,Goiás,"{'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}"
135,52,GO,Goiás,"{'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}"
136,53,DF,Distrito Federal,"{'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}"

In [32]:
br_info['nome_regiao'] = br_info['regiao'].apply(lambda x: x['nome'])
br_info.drop('regiao', axis=1, inplace=True)
br_info.drop_duplicates(inplace=True)

In [33]:
br_info

     id sigla                 nome   nome_regiao
0    11    RO             Rondônia         Norte
2    12    AC                 Acre         Norte
4    13    AM             Amazonas         Norte
8    14    RR              Roraima         Norte
10   15    PA                 Pará         Norte
16   16    AP                Amapá         Norte
18   17    TO            Tocantins         Norte
20   21    MA             Maranhão      Nordeste
25   22    PI                Piauí      Nordeste
29   23    CE                Ceará      Nordeste
36   24    RN  Rio Grande do Norte      Nordeste
40   25    PB              Paraíba      Nordeste
44   26    PE           Pernambuco      Nordeste
49   27    AL              Alagoas      Nordeste
52   28    SE              Sergipe      Nordeste
55   29    BA                Bahia      Nordeste
62   31    MG         Minas Gerais       Sudeste
74   32    ES       Espírito Santo       Sudeste
78   33    RJ       Rio de Janeiro       Sudeste
84   35    SP            São Paulo       Sudeste
99   41    PR               Paraná           Sul
109  42    SC       Santa Catarina           Sul
115  43    RS    Rio Grande do Sul           Sul
122  50    MS   Mato Grosso do Sul  Centro-Oeste
126  51    MT          Mato Grosso  Centro-Oeste
131  52    GO                Goiás  Centro-Oeste
136  53    DF     Distrito Federal  Centro-Oeste

In [34]:
# Exportamos br_info como csv
br_info.to_csv('br_info.csv',index=False)

## Preprocesado de datasets

El Dataset de cordenadas se obtiene del siguiente Link : https://gist.github.com/ricardobeat/674646?permalink_comment_id=3232063#gistcomment-3232063

In [ ]:
#Datasets
df_geo = pd.read_csv('./datasets/olist_geolocation_dataset.csv',dtype={'geolocation_zip_code_prefix': str})
df_sell = pd.read_csv('./datasets/olist_sellers_dataset.csv',dtype={'seller_zip_code_prefix': str})
df_cust = pd.read_csv('./datasets/olist_customers_dataset.csv',dtype={'customer_zip_code_prefix': str})
df_cord = pd.read_csv('./datasets/cordenadas_estados.csv',sep=';')

In [ ]:
df_geo.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,01037,-23.545621,-46.639292,sao paulo,SP
1,01046,-23.546081,-46.644820,sao paulo,SP
2,01046,-23.546129,-46.642951,sao paulo,SP
3,01041,-23.544392,-46.639499,sao paulo,SP
4,01035,-23.541578,-46.641607,sao paulo,SP

In [ ]:
df_sell.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,04195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [ ]:
df_cust.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,09790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,01151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,08775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [ ]:
df_cord

    uf  latitude  longitude
0   AC     -8.77     -70.55
1   AL     -9.62     -36.82
2   AM     -3.47     -65.10
3   AP      1.41     -51.77
4   BA    -13.29     -41.71
5   CE     -5.20     -39.53
6   DF    -15.83     -47.86
7   ES    -19.19     -40.34
8   GO    -15.98     -49.86
9   MA     -5.42     -45.44
10  MT    -12.64     -55.42
11  MS    -20.51     -54.54
12  MG    -18.10     -44.38
13  PA     -3.79     -52.48
14  PB     -7.28     -36.72
15  PR    -24.89     -51.55
16  PE     -8.38     -37.86
17  PI     -6.60     -42.28
18  RJ    -22.25     -42.66
19  RN     -5.81     -36.59
20  RO    -10.83     -63.34
21  RS    -30.17     -53.50
22  RR      1.99     -61.33
23  SC    -27.45     -50.95
24  SE    -10.57     -37.45
25  SP    -22.19     -48.79
26  TO     -9.46     -48.26

* Dataset geolocalización

Busco los puntos de latitud y longitud que estén fuera de Brasil para quitarlos del análisis

Latitude:

Northernmost point: 5.26 degrees S (Caburé, Amapá state)
Southernmost point: 33.72 degrees S (Ilha da Trindade, Espírito Santo state)
Longitude:

Westernmost point: 34.81 degrees W (Ponta do Seixas, Paraíba state)
Easternmost point: 73.98 degrees W (Ilha do Arquipélago de Fernando de Noronha, Pernambuco state)

In [ ]:
# Cordenadas extremas de latitud y longitud
norte_lat = 5.27438888
sur_lat = - 33.75116944
este_long = - 34.79314722
oeste_long = - 73.98283055

In [ ]:
print(f'''OUTLIERS DE LATITUD Y LONGITUD
      Puntos mas al norte: {df_geo[df_geo['geolocation_lat']>= norte_lat].shape[0]}
      Puntos mas al sur: {df_geo[df_geo['geolocation_lat'] <= sur_lat].shape[0]}
      Puntos mas al este: {df_geo[df_geo['geolocation_lng'] >= este_long].shape[0]}
      Puntos mas al oeste: {df_geo[df_geo['geolocation_lng'] <= oeste_long].shape[0]}''')

OUTLIERS DE LATITUD Y LONGITUD
      Puntos mas al norte: 26
      Puntos mas al sur: 5
      Puntos mas al este: 33
      Puntos mas al oeste: 4

In [ ]:
# Creamos un df_geo_proc que se va a ir procesando con los cambios
df_geo_proc = df_geo[df_geo['geolocation_lat'] <= norte_lat]
df_geo_proc = df_geo_proc[df_geo_proc['geolocation_lat'] >= sur_lat]
df_geo_proc = df_geo_proc[df_geo_proc['geolocation_lng'] <= este_long]
df_geo_proc = df_geo_proc[df_geo_proc['geolocation_lng'] >= oeste_long]
print(df_geo.shape, df_geo_proc.shape)

(1000163, 5) (1000121, 5)

In [ ]:
#Cambio de nombres
df_geo_proc.rename(columns={'geolocation_zip_code_prefix': 'zip_code_prefix'}, inplace=True)
df_geo_proc.rename(columns={'geolocation_city': 'city'}, inplace=True)
df_geo_proc.rename(columns={'geolocation_state': 'state'}, inplace=True)

df_sell.rename(columns={'seller_zip_code_prefix': 'zip_code_prefix'}, inplace=True)
df_sell.rename(columns={'seller_city': 'city'}, inplace=True)
df_sell.rename(columns={'seller_state': 'state'}, inplace=True)

df_cust.rename(columns={'customer_zip_code_prefix': 'zip_code_prefix'}, inplace=True)
df_cust.rename(columns={'customer_city': 'city'}, inplace=True)
df_cust.rename(columns={'customer_state': 'state'}, inplace=True)

* Concateno los 3 datasets

In [ ]:
# Concateno todos los datasets
df_concat = pd.concat([df_geo_proc,df_sell[['zip_code_prefix','city','state']],df_cust[['zip_code_prefix','city','state']]],axis=0)

In [ ]:
df_concat

      zip_code_prefix  geolocation_lat  geolocation_lng             city state
0               01037       -23.545621       -46.639292        sao paulo    SP
1               01046       -23.546081       -46.644820        sao paulo    SP
2               01046       -23.546129       -46.642951        sao paulo    SP
3               01041       -23.544392       -46.639499        sao paulo    SP
4               01035       -23.541578       -46.641607        sao paulo    SP
...               ...              ...              ...              ...   ...
99436           03937              NaN              NaN        sao paulo    SP
99437           06764              NaN              NaN  taboao da serra    SP
99438           60115              NaN              NaN        fortaleza    CE
99439           92120              NaN              NaN           canoas    RS
99440           06703              NaN              NaN            cotia    SP

[1102657 rows x 5 columns]

* Agrupo por zip_code_prefix tomando el mínimo de cada registro

In [ ]:
df_procesado = df_concat.groupby(by='zip_code_prefix', as_index=False).min()

In [ ]:
df_procesado

      zip_code_prefix  geolocation_lat  geolocation_lng             city state
0               01001       -23.551427       -46.634410        sao paulo    SP
1               01002       -23.548878       -46.636361        sao paulo    SP
2               01003       -23.549083       -46.637157        sao paulo    SP
3               01004       -23.550765       -46.635371        sao paulo    SP
4               01005       -23.549980       -46.638411        sao paulo    SP
...               ...              ...              ...              ...   ...
19168           99960       -27.954114       -52.031943          charrua    RS
19169           99965       -28.210845       -52.059927       agua santa    RS
19170           99970       -28.348616       -51.879243          ciriaco    RS
19171           99980       -28.418178       -51.850755  david canabarro    RS
19172           99990       -28.329718       -51.769615        muliterno    RS

[19173 rows x 5 columns]

* Realizo un Merge de la región que le corresponde de br_info

In [ ]:
df_procesado = df_procesado.merge(br_info, how='left', left_on='state', right_on='sigla')

In [ ]:
df_procesado

,zip_code_prefix,geolocation_lat,geolocation_lng,city,state,id,sigla,nome,nome_regiao
0,01001,-23.551427,-46.634410,sao paulo,SP,35,SP,São Paulo,Sudeste
1,01002,-23.548878,-46.636361,sao paulo,SP,35,SP,São Paulo,Sudeste
2,01003,-23.549083,-46.637157,sao paulo,SP,35,SP,São Paulo,Sudeste
3,01004,-23.550765,-46.635371,sao paulo,SP,35,SP,São Paulo,Sudeste
4,01005,-23.549980,-46.638411,sao paulo,SP,35,SP,São Paulo,Sudeste
...,...,...,...,...,...,...,...,...,...
19168,99960,-27.954114,-52.031943,charrua,RS,43,RS,Rio Grande do Sul,Sul
19169,99965,-28.210845,-52.059927,agua santa,RS,43,RS,Rio Grande do Sul,Sul
19170,99970,-28.348616,-51.879243,ciriaco,RS,43,RS,Rio Grande do Sul,Sul
19171,99980,-28.418178,-51.850755,david canabarro,RS,43,RS,Rio Grande do Sul,Sul
19172,99990,-28.329718,-51.769615,muliterno,RS,43,RS,Rio Grande do Sul,Sul

* Renombre de columnas y ubicación

In [ ]:
df_procesado.rename(columns={'id': 'id_state', 'state':'state_sigla','nome':'state_name','nome_regiao':'region_name'}, inplace=True)

In [ ]:
# Drop de sigla
df_procesado.drop(columns=['sigla'],inplace=True)

In [ ]:
df_procesado

,zip_code_prefix,geolocation_lat,geolocation_lng,city,state_sigla,id_state,state_name,region_name
0,01001,-23.551427,-46.634410,sao paulo,SP,35,São Paulo,Sudeste
1,01002,-23.548878,-46.636361,sao paulo,SP,35,São Paulo,Sudeste
2,01003,-23.549083,-46.637157,sao paulo,SP,35,São Paulo,Sudeste
3,01004,-23.550765,-46.635371,sao paulo,SP,35,São Paulo,Sudeste
4,01005,-23.549980,-46.638411,sao paulo,SP,35,São Paulo,Sudeste
...,...,...,...,...,...,...,...,...
19168,99960,-27.954114,-52.031943,charrua,RS,43,Rio Grande do Sul,Sul
19169,99965,-28.210845,-52.059927,agua santa,RS,43,Rio Grande do Sul,Sul
19170,99970,-28.348616,-51.879243,ciriaco,RS,43,Rio Grande do Sul,Sul
19171,99980,-28.418178,-51.850755,david canabarro,RS,43,Rio Grande do Sul,Sul
19172,99990,-28.329718,-51.769615,muliterno,RS,43,Rio Grande do Sul,Sul

In [ ]:
# Reordenado
df_procesado = df_procesado[['zip_code_prefix','region_name','id_state','state_sigla','state_name','city','geolocation_lat','geolocation_lng']]

In [ ]:
df_procesado

,zip_code_prefix,region_name,id_state,state_sigla,state_name,city,geolocation_lat,geolocation_lng
0,01001,Sudeste,35,SP,São Paulo,sao paulo,-23.551427,-46.634410
1,01002,Sudeste,35,SP,São Paulo,sao paulo,-23.548878,-46.636361
2,01003,Sudeste,35,SP,São Paulo,sao paulo,-23.549083,-46.637157
3,01004,Sudeste,35,SP,São Paulo,sao paulo,-23.550765,-46.635371
4,01005,Sudeste,35,SP,São Paulo,sao paulo,-23.549980,-46.638411
...,...,...,...,...,...,...,...,...
19168,99960,Sul,43,RS,Rio Grande do Sul,charrua,-27.954114,-52.031943
19169,99965,Sul,43,RS,Rio Grande do Sul,agua santa,-28.210845,-52.059927
19170,99970,Sul,43,RS,Rio Grande do Sul,ciriaco,-28.348616,-51.879243
19171,99980,Sul,43,RS,Rio Grande do Sul,david canabarro,-28.418178,-51.850755
19172,99990,Sul,43,RS,Rio Grande do Sul,muliterno,-28.329718,-51.769615

In [ ]:
df_procesado['localizador'] = df_procesado['city'] + ' ' + df_procesado['state_sigla'] + ', Brazil'

C:\Users\Nico\AppData\Local\Temp\ipykernel_9984\2068947028.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_procesado['localizador'] = df_procesado['city'] + ' ' + df_procesado['state_sigla'] + ', Brazil'

In [ ]:
df_procesado

,zip_code_prefix,region_name,id_state,state_sigla,state_name,city,geolocation_lat,geolocation_lng,localizador
0,01001,Sudeste,35,SP,São Paulo,sao paulo,-23.551427,-46.634410,"sao paulo SP, Brazil"
1,01002,Sudeste,35,SP,São Paulo,sao paulo,-23.548878,-46.636361,"sao paulo SP, Brazil"
2,01003,Sudeste,35,SP,São Paulo,sao paulo,-23.549083,-46.637157,"sao paulo SP, Brazil"
3,01004,Sudeste,35,SP,São Paulo,sao paulo,-23.550765,-46.635371,"sao paulo SP, Brazil"
4,01005,Sudeste,35,SP,São Paulo,sao paulo,-23.549980,-46.638411,"sao paulo SP, Brazil"
...,...,...,...,...,...,...,...,...,...
19168,99960,Sul,43,RS,Rio Grande do Sul,charrua,-27.954114,-52.031943,"charrua RS, Brazil"
19169,99965,Sul,43,RS,Rio Grande do Sul,agua santa,-28.210845,-52.059927,"agua santa RS, Brazil"
19170,99970,Sul,43,RS,Rio Grande do Sul,ciriaco,-28.348616,-51.879243,"ciriaco RS, Brazil"
19171,99980,Sul,43,RS,Rio Grande do Sul,david canabarro,-28.418178,-51.850755,"david canabarro RS, Brazil"
19172,99990,Sul,43,RS,Rio Grande do Sul,muliterno,-28.329718,-51.769615,"muliterno RS, Brazil"

In [ ]:
df_procesado.to_csv('geolocalizacion_procesado.csv',index=False)

## Añadir Latitud y longitud correctas
Se utiliza la libreria geocoder para buscar las coordenadas según los datos de ciudad, estado, etc

In [3]:
!pip install geocoder
!pip install geopy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geocoder
  Downloading geocoder-1.38.1-py2.py3-none-any.whl (98 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.6/98.6 KB 4.0 MB/s eta 0:00:00
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from geocoder) (2.25.1)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from geocoder) (7.1.2)
Collecting ratelim
  Downloading ratelim-0.1.6-py2.py3-none-any.whl (4.0 kB)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from geocoder) (1.15.0)
Requirement already satisfied: future in /usr/local/lib/python3.8/dist-packages (from geocoder) (0.16.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.8/dist-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->geocoder) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->geocoder) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->geocoder) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->geocoder) (2022.12.7)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopy in /usr/local/lib/python3.8/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.8/dist-packages (from geopy) (1.52)

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [21]:
df_procesado = pd.read_csv('/content/geolocalizacion_procesado.csv')

In [22]:
df_procesado

,zip_code_prefix,region_name,id_state,state_sigla,state_name,city,geolocation_lat,geolocation_lng,localizador
0,1001,Sudeste,35,SP,São Paulo,sao paulo,-23.551427,-46.634410,"sao paulo SP, Brazil"
1,1002,Sudeste,35,SP,São Paulo,sao paulo,-23.548878,-46.636361,"sao paulo SP, Brazil"
2,1003,Sudeste,35,SP,São Paulo,sao paulo,-23.549083,-46.637157,"sao paulo SP, Brazil"
3,1004,Sudeste,35,SP,São Paulo,sao paulo,-23.550765,-46.635371,"sao paulo SP, Brazil"
4,1005,Sudeste,35,SP,São Paulo,sao paulo,-23.549980,-46.638411,"sao paulo SP, Brazil"
...,...,...,...,...,...,...,...,...,...
19168,99960,Sul,43,RS,Rio Grande do Sul,charrua,-27.954114,-52.031943,"charrua RS, Brazil"
19169,99965,Sul,43,RS,Rio Grande do Sul,agua santa,-28.210845,-52.059927,"agua santa RS, Brazil"
19170,99970,Sul,43,RS,Rio Grande do Sul,ciriaco,-28.348616,-51.879243,"ciriaco RS, Brazil"
19171,99980,Sul,43,RS,Rio Grande do Sul,david canabarro,-28.418178,-51.850755,"david canabarro RS, Brazil"
19172,99990,Sul,43,RS,Rio Grande do Sul,muliterno,-28.329718,-51.769615,"muliterno RS, Brazil"

In [8]:
from geopy.geocoders import Nominatim
import geocoder

In [9]:
# Funciones de latitud y longitud Geocoder
def find_latitud_geocoder(localizador):
    loc = geocoder.osm(localizador)
    return loc.lat

def find_longitud_geocoder(localizador):
    loc = geocoder.osm(localizador)
    return loc.lng

In [8]:
# Funciones de latitud y longitud Geopy
def find_latitud_geopy(localizador):
    geolocator = Nominatim(user_agent="geopy.geocoders.option.default_user_agent")
    location = geolocator.geocode(localizador)
    return location.latitude

def find_longitud_geopy(localizador):
    geolocator = Nominatim(user_agent="geopy.geocoders.option.default_user_agent")
    location = geolocator.geocode(localizador)
    return location.longitude

In [13]:
df_procesado.shape[0]

19173

* Creamos un dataset auxiliar, solo con los localizadores únicos o con leve variación

In [36]:
df_coordenadas = df_procesado[['state_sigla','city','localizador']]

In [37]:
df_coordenadas.drop_duplicates(inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [38]:
df_coordenadas.shape

(6228, 3)

* Latitud

In [ ]:
# Aplicamos función de latitud
df_coordenadas['latitud'] = df_coordenadas['localizador'].map(find_latitud_geocoder)

In [49]:
df_coordenadas

,state_sigla,city,localizador,latitud
0,SP,sao paulo,"sao paulo SP, Brazil",-23.550651
1,SP,são paulo,"são paulo SP, Brazil",-23.550651
2,SP,sao bernardo do campo,"sao bernardo do campo SP, Brazil",-23.708035
3,RN,sao paulo,"sao paulo RN, Brazil",-3.321587
4,SP,jundiaí,"jundiaí SP, Brazil",-23.188767
...,...,...,...,...
6223,RS,charrua,"charrua RS, Brazil",-27.953375
6224,RS,agua santa,"agua santa RS, Brazil",-28.177530
6225,RS,ciriaco,"ciriaco RS, Brazil",-28.342914
6226,RS,david canabarro,"david canabarro RS, Brazil",-28.387867
6227,RS,muliterno,"muliterno RS, Brazil",-28.329599

In [64]:
#Carga csv
df_coordenadas = pd.read_csv('/content/coordenadas_latitud.csv')

In [65]:
df_coordenadas.isna().sum()

state_sigla     0
city            0
localizador     0
latitud        44
dtype: int64

In [56]:
# LLenar valores nulos
df_coordenadas.iloc[['latitud'] = df_coordenadas[df_coordenadas['latitud'].isnull()]['localizador'].map(find_latitud_geocoder)

In [74]:
# LLenar valores nulos
df_filtered = df_coordenadas[df_coordenadas['latitud'].isna()]
df_filtered = df_coordenadas.iloc[df_filtered.index]
df_filtered['latitud'] = df_filtered['localizador'].map(find_latitud_geocoder)
df_filtered.head()

<ipython-input-74-d746dbc63685>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['latitud'] = df_filtered['localizador'].map(find_latitud_geocoder)

   state_sigla             city                 localizador  latitud
20          SP   tabao da serra   tabao da serra SP, Brazil      NaN
29          SP         garulhos         garulhos SP, Brazil      NaN
41          SP        sao paluo        sao paluo SP, Brazil      NaN
47          SP  mogi das cruses  mogi das cruses SP, Brazil      NaN
55          SP      sando andre      sando andre SP, Brazil      NaN

In [69]:
df_coordenadas.iloc[df_filtered.index]

,state_sigla,city,localizador,latitud
20,SP,tabao da serra,"tabao da serra SP, Brazil",NaN
29,SP,garulhos,"garulhos SP, Brazil",NaN
41,SP,sao paluo,"sao paluo SP, Brazil",NaN
47,SP,mogi das cruses,"mogi das cruses SP, Brazil",NaN
55,SP,sando andre,"sando andre SP, Brazil",NaN
61,SP,ao bernardo do campo,"ao bernardo do campo SP, Brazil",NaN
333,SP,sao jose do rio pret,"sao jose do rio pret SP, Brazil",NaN
852,RJ,sana,"sana RJ, Brazil",NaN
855,RJ,campos dos goytacaze,"campos dos goytacaze RJ, Brazil",NaN
1056,MG,belo horizont,"belo horizont MG, Brazil",NaN
1057,MG,belo horizonta,"belo horizonta MG, Brazil",NaN
1410,MG,santa rita do ibitipoca,"santa rita do ibitipoca MG, Brazil",NaN
2073,MG,concordia de mucuri,"concordia de mucuri MG, Brazil",NaN
2865,AL,maceia³,"maceia³ AL, Brazil",NaN
3017,PB,pitanga de estrada,"pitanga de estrada PB, Brazil",NaN
3276,RN,sao miguel de touros,"sao miguel de touros RN, Brazil",NaN
3920,MA,fatimarmnte dutra,"fatimarmnte dutra MA, Brazil",NaN
4209,AC,rio bracnco,"rio bracnco AC, Brazil",NaN
4245,DF,aguas lindas de goias,"aguas lindas de goias DF, Brazil",NaN
4536,RO,alta alegre dos parecis,"alta alegre dos parecis RO, Brazil",NaN
4688,MT,santo antonio do leverger,"santo antonio do leverger MT, Brazil",NaN
4704,MT,lambari d%26apos%3boeste,"lambari d%26apos%3boeste MT, Brazil",NaN
4774,MT,barra do garcas,"barra do garcas MT, Brazil",NaN
4778,MT,general carneiro,"general carneiro MT, Brazil",NaN
4779,MT,novo sao joaquim,"novo sao joaquim MT, Brazil",NaN
4780,MT,santo antonio do leste,"santo antonio do leste MT, Brazil",NaN
4782,MT,agua boa,"agua boa MT, Brazil",NaN
4783,MT,nova nazaré,"nova nazaré MT, Brazil",NaN
4787,MT,santa terezinha,"santa terezinha MT, Brazil",NaN
4788,MT,confresa,"confresa MT, Brazil",NaN
4792,MT,sao jose do xingu,"sao jose do xingu MT, Brazil",NaN
4794,MT,alto boa vista,"alto boa vista MT, Brazil",NaN
4930,PR,balneario de picarras,"balneario de picarras PR, Brazil",NaN
4985,PR,colonia castrolanda,"colonia castrolanda PR, Brazil",NaN
5034,PR,colonia jordaozinho,"colonia jordaozinho PR, Brazil",NaN
5077,PR,sao roque do chopim,"sao roque do chopim PR, Brazil",NaN
5093,PR,sao jorge doeste,"sao jorge doeste PR, Brazil",NaN
5126,PR,cascavael,"cascavael PR, Brazil",NaN
5141,PR,sao jose do itavo,"sao jose do itavo PR, Brazil",NaN
5175,PR,santa rita do oeste,"santa rita do oeste PR, Brazil",NaN
5400,SC,floranopolis,"floranopolis SC, Brazil",NaN
5401,SC,florian&oacute;polis,"florian&oacute;polis SC, Brazil",NaN
5421,SC,balenario camboriu,"balenario camboriu SC, Brazil",NaN
5707,RS,porto aelgre,"porto aelgre RS, Brazil",NaN

In [76]:
df_filtered.isna().sum()

state_sigla     0
city            0
localizador     0
latitud        34
dtype: int64

In [90]:
df_filtered

,state_sigla,city,localizador,latitud
20,SP,tabao da serra,"tabao da serra SP, Brazil",NaN
29,SP,garulhos,"garulhos SP, Brazil",NaN
41,SP,sao paluo,"sao paluo SP, Brazil",NaN
47,SP,mogi das cruses,"mogi das cruses SP, Brazil",NaN
55,SP,sando andre,"sando andre SP, Brazil",NaN
61,SP,ao bernardo do campo,"ao bernardo do campo SP, Brazil",NaN
333,SP,sao jose do rio pret,"sao jose do rio pret SP, Brazil",NaN
852,RJ,sana,"sana RJ, Brazil",NaN
855,RJ,campos dos goytacaze,"campos dos goytacaze RJ, Brazil",NaN
1056,MG,belo horizont,"belo horizont MG, Brazil",NaN
1057,MG,belo horizonta,"belo horizonta MG, Brazil",NaN
1410,MG,santa rita do ibitipoca,"santa rita do ibitipoca MG, Brazil",NaN
2073,MG,concordia de mucuri,"concordia de mucuri MG, Brazil",NaN
2865,AL,maceia³,"maceia³ AL, Brazil",NaN
3017,PB,pitanga de estrada,"pitanga de estrada PB, Brazil",NaN
3276,RN,sao miguel de touros,"sao miguel de touros RN, Brazil",NaN
3920,MA,fatimarmnte dutra,"fatimarmnte dutra MA, Brazil",NaN
4209,AC,rio bracnco,"rio bracnco AC, Brazil",NaN
4245,DF,aguas lindas de goias,"aguas lindas de goias DF, Brazil",NaN
4536,RO,alta alegre dos parecis,"alta alegre dos parecis RO, Brazil",NaN
4688,MT,santo antonio do leverger,"santo antonio do leverger MT, Brazil",NaN
4704,MT,lambari d%26apos%3boeste,"lambari d%26apos%3boeste MT, Brazil",NaN
4774,MT,barra do garcas,"barra do garcas MT, Brazil",-15.891603
4778,MT,general carneiro,"general carneiro MT, Brazil",-15.707092
4779,MT,novo sao joaquim,"novo sao joaquim MT, Brazil",-14.910823
4780,MT,santo antonio do leste,"santo antonio do leste MT, Brazil",-14.803766
4782,MT,agua boa,"agua boa MT, Brazil",-14.052297
4783,MT,nova nazaré,"nova nazaré MT, Brazil",-13.989774
4787,MT,santa terezinha,"santa terezinha MT, Brazil",-10.470375
4788,MT,confresa,"confresa MT, Brazil",-10.643695
4792,MT,sao jose do xingu,"sao jose do xingu MT, Brazil",-10.803888
4794,MT,alto boa vista,"alto boa vista MT, Brazil",-11.672398
4930,PR,balneario de picarras,"balneario de picarras PR, Brazil",NaN
4985,PR,colonia castrolanda,"colonia castrolanda PR, Brazil",NaN
5034,PR,colonia jordaozinho,"colonia jordaozinho PR, Brazil",NaN
5077,PR,sao roque do chopim,"sao roque do chopim PR, Brazil",NaN
5093,PR,sao jorge doeste,"sao jorge doeste PR, Brazil",NaN
5126,PR,cascavael,"cascavael PR, Brazil",NaN
5141,PR,sao jose do itavo,"sao jose do itavo PR, Brazil",NaN
5175,PR,santa rita do oeste,"santa rita do oeste PR, Brazil",NaN
5400,SC,floranopolis,"floranopolis SC, Brazil",NaN
5401,SC,florian&oacute;polis,"florian&oacute;polis SC, Brazil",NaN
5421,SC,balenario camboriu,"balenario camboriu SC, Brazil",NaN
5707,RS,porto aelgre,"porto aelgre RS, Brazil",NaN

In [91]:
df_coordenadas.iloc[df_filtered.index] = df_filtered

In [92]:
df_coordenadas.isna().sum()

state_sigla     0
city            0
localizador     0
latitud        34
dtype: int64

In [93]:
df_coordenadas

,state_sigla,city,localizador,latitud
0,SP,sao paulo,"sao paulo SP, Brazil",-23.550651
1,SP,são paulo,"são paulo SP, Brazil",-23.550651
2,SP,sao bernardo do campo,"sao bernardo do campo SP, Brazil",-23.708035
3,RN,sao paulo,"sao paulo RN, Brazil",-3.321587
4,SP,jundiaí,"jundiaí SP, Brazil",-23.188767
...,...,...,...,...
6223,RS,charrua,"charrua RS, Brazil",-27.953375
6224,RS,agua santa,"agua santa RS, Brazil",-28.177530
6225,RS,ciriaco,"ciriaco RS, Brazil",-28.342914
6226,RS,david canabarro,"david canabarro RS, Brazil",-28.387867
6227,RS,muliterno,"muliterno RS, Brazil",-28.329599

In [94]:
# Exportación de csv
df_coordenadas.to_csv('coordenadas_latitud.csv',index=False)

* Longitud

In [98]:
# Aplicamos función de longitud
df_coordenadas['longitud'] = df_coordenadas['localizador'].map(find_longitud_geocoder)

In [119]:
df_coordenadas

,state_sigla,city,localizador,latitud,longitud
0,SP,sao paulo,"sao paulo SP, Brazil",-23.550651,-46.633382
1,SP,são paulo,"são paulo SP, Brazil",-23.550651,-46.633382
2,SP,sao bernardo do campo,"sao bernardo do campo SP, Brazil",-23.708035,-46.550675
3,RN,sao paulo,"sao paulo RN, Brazil",-3.321587,-43.517991
4,SP,jundiaí,"jundiaí SP, Brazil",-23.188767,-46.884506
...,...,...,...,...,...
6223,RS,charrua,"charrua RS, Brazil",-27.953375,-52.031259
6224,RS,agua santa,"agua santa RS, Brazil",-28.177530,-52.036030
6225,RS,ciriaco,"ciriaco RS, Brazil",-28.342914,-51.876368
6226,RS,david canabarro,"david canabarro RS, Brazil",-28.387867,-51.847265
6227,RS,muliterno,"muliterno RS, Brazil",-28.329599,-51.768244

In [112]:
# Exportamos dataset de coordenadas
df_coordenadas.to_csv('coordenadas.csv',index=False)

In [111]:
df_coordenadas.isna().sum()

state_sigla     0
city            0
localizador     0
latitud        34
longitud       35
dtype: int64

In [ ]:
''' # LLenar valores nulos
df_nan = df_coordenadas[(df_coordenadas['latitud'].isna()) | (df_coordenadas['longitud'].isna())]
df_nan['latitud'] = df_nan['localizador'].map(find_latitud_geocoder)
df_nan['longitud'] = df_nan['localizador'].map(find_longitud_geocoder)
df_nan '''

In [105]:
df_nan.shape

(35, 5)

* Carga de dataset con coordenadas

In [10]:
df_coordenadas = pd.read_csv('/content/coordenadas.csv')

In [11]:
df_coordenadas

,state_sigla,city,localizador,latitud,longitud
0,SP,sao paulo,"sao paulo SP, Brazil",-23.550651,-46.633382
1,SP,são paulo,"são paulo SP, Brazil",-23.550651,-46.633382
2,SP,sao bernardo do campo,"sao bernardo do campo SP, Brazil",-23.708035,-46.550675
3,RN,sao paulo,"sao paulo RN, Brazil",-3.321587,-43.517991
4,SP,jundiaí,"jundiaí SP, Brazil",-23.188767,-46.884506
...,...,...,...,...,...
6223,RS,charrua,"charrua RS, Brazil",-27.953375,-52.031259
6224,RS,agua santa,"agua santa RS, Brazil",-28.177530,-52.036030
6225,RS,ciriaco,"ciriaco RS, Brazil",-28.342914,-51.876368
6226,RS,david canabarro,"david canabarro RS, Brazil",-28.387867,-51.847265
6227,RS,muliterno,"muliterno RS, Brazil",-28.329599,-51.768244

* Merge con dataset de geolocalización procesado

In [23]:
df_procesado = df_procesado.merge(df_coordenadas[['localizador','latitud','longitud']], on = 'localizador')

In [24]:
df_procesado

,zip_code_prefix,region_name,id_state,state_sigla,state_name,city,geolocation_lat,geolocation_lng,localizador,latitud,longitud
0,1001,Sudeste,35,SP,São Paulo,sao paulo,-23.551427,-46.634410,"sao paulo SP, Brazil",-23.550651,-46.633382
1,1002,Sudeste,35,SP,São Paulo,sao paulo,-23.548878,-46.636361,"sao paulo SP, Brazil",-23.550651,-46.633382
2,1003,Sudeste,35,SP,São Paulo,sao paulo,-23.549083,-46.637157,"sao paulo SP, Brazil",-23.550651,-46.633382
3,1004,Sudeste,35,SP,São Paulo,sao paulo,-23.550765,-46.635371,"sao paulo SP, Brazil",-23.550651,-46.633382
4,1005,Sudeste,35,SP,São Paulo,sao paulo,-23.549980,-46.638411,"sao paulo SP, Brazil",-23.550651,-46.633382
...,...,...,...,...,...,...,...,...,...,...,...
19168,99960,Sul,43,RS,Rio Grande do Sul,charrua,-27.954114,-52.031943,"charrua RS, Brazil",-27.953375,-52.031259
19169,99965,Sul,43,RS,Rio Grande do Sul,agua santa,-28.210845,-52.059927,"agua santa RS, Brazil",-28.177530,-52.036030
19170,99970,Sul,43,RS,Rio Grande do Sul,ciriaco,-28.348616,-51.879243,"ciriaco RS, Brazil",-28.342914,-51.876368
19171,99980,Sul,43,RS,Rio Grande do Sul,david canabarro,-28.418178,-51.850755,"david canabarro RS, Brazil",-28.387867,-51.847265
19172,99990,Sul,43,RS,Rio Grande do Sul,muliterno,-28.329718,-51.769615,"muliterno RS, Brazil",-28.329599,-51.768244

In [19]:
df_procesado.isna().sum()

zip_code_prefix     0
region_name         0
id_state            0
state_sigla         0
state_name          0
city                0
localizador         0
latitud            34
longitud           35
dtype: int64

In [14]:
# Duplicados
df_procesado.duplicated(subset=['latitud','longitud'],keep=False).sum()

13632

In [25]:
# Elimino duplicados referentes a latitud y longitud en conjunto sin tener en cuenta valores nulos. Me quedo con el primer valor
''' df_final_procesado = df_procesado[(df_procesado['latitud'].notnull()) | (df_procesado['longitud'].notnull())].drop_duplicates(subset=['latitud','longitud'],keep='first')
df_final_procesado = pd.concat([df_final_procesado,df_procesado[(df_procesado['latitud'].isna()) | (df_procesado['longitud'].isna())]],axis=0)
df_final_procesado.sort_values(by=['zip_code_prefix'],ascending=True) '''
# Elimino geolocation_latitude y geolocation_longitude
df_final_procesado = df_procesado.drop(columns=['geolocation_lat','geolocation_lng'])
# Reset index
#df_final_procesado.reset_index(drop=True, inplace=True)

In [26]:
df_final_procesado

,zip_code_prefix,region_name,id_state,state_sigla,state_name,city,localizador,latitud,longitud
0,1001,Sudeste,35,SP,São Paulo,sao paulo,"sao paulo SP, Brazil",-23.550651,-46.633382
1,1002,Sudeste,35,SP,São Paulo,sao paulo,"sao paulo SP, Brazil",-23.550651,-46.633382
2,1003,Sudeste,35,SP,São Paulo,sao paulo,"sao paulo SP, Brazil",-23.550651,-46.633382
3,1004,Sudeste,35,SP,São Paulo,sao paulo,"sao paulo SP, Brazil",-23.550651,-46.633382
4,1005,Sudeste,35,SP,São Paulo,sao paulo,"sao paulo SP, Brazil",-23.550651,-46.633382
...,...,...,...,...,...,...,...,...,...
19168,99960,Sul,43,RS,Rio Grande do Sul,charrua,"charrua RS, Brazil",-27.953375,-52.031259
19169,99965,Sul,43,RS,Rio Grande do Sul,agua santa,"agua santa RS, Brazil",-28.177530,-52.036030
19170,99970,Sul,43,RS,Rio Grande do Sul,ciriaco,"ciriaco RS, Brazil",-28.342914,-51.876368
19171,99980,Sul,43,RS,Rio Grande do Sul,david canabarro,"david canabarro RS, Brazil",-28.387867,-51.847265
19172,99990,Sul,43,RS,Rio Grande do Sul,muliterno,"muliterno RS, Brazil",-28.329599,-51.768244

In [28]:
df_final_procesado.isna().sum()

zip_code_prefix     0
region_name         0
id_state            0
state_sigla         0
state_name          0
city                0
localizador         0
latitud            34
longitud           35
dtype: int64

* Exportamos el csv final

In [29]:
df_final_procesado.to_csv('geolocalizacion_final_procesado.csv',index=False)

In [35]:
df_coord_estados = pd.read_csv('/content/cordenadas_estados.csv', sep=';')

In [36]:
df_coord_estados

    uf  latitude  longitude
0   AC     -8.77     -70.55
1   AL     -9.62     -36.82
2   AM     -3.47     -65.10
3   AP      1.41     -51.77
4   BA    -13.29     -41.71
5   CE     -5.20     -39.53
6   DF    -15.83     -47.86
7   ES    -19.19     -40.34
8   GO    -15.98     -49.86
9   MA     -5.42     -45.44
10  MT    -12.64     -55.42
11  MS    -20.51     -54.54
12  MG    -18.10     -44.38
13  PA     -3.79     -52.48
14  PB     -7.28     -36.72
15  PR    -24.89     -51.55
16  PE     -8.38     -37.86
17  PI     -6.60     -42.28
18  RJ    -22.25     -42.66
19  RN     -5.81     -36.59
20  RO    -10.83     -63.34
21  RS    -30.17     -53.50
22  RR      1.99     -61.33
23  SC    -27.45     -50.95
24  SE    -10.57     -37.45
25  SP    -22.19     -48.79
26  TO     -9.46     -48.26

In [37]:
df = df_final_procesado.merge(df_coord_estados, how='left', left_on='state_sigla', right_on='uf')

In [38]:
df

,zip_code_prefix,region_name,id_state,state_sigla,state_name,city,localizador,latitud,longitud,uf,latitude,longitude
0,1001,Sudeste,35,SP,São Paulo,sao paulo,"sao paulo SP, Brazil",-23.550651,-46.633382,SP,-22.19,-48.79
1,1002,Sudeste,35,SP,São Paulo,sao paulo,"sao paulo SP, Brazil",-23.550651,-46.633382,SP,-22.19,-48.79
2,1003,Sudeste,35,SP,São Paulo,sao paulo,"sao paulo SP, Brazil",-23.550651,-46.633382,SP,-22.19,-48.79
3,1004,Sudeste,35,SP,São Paulo,sao paulo,"sao paulo SP, Brazil",-23.550651,-46.633382,SP,-22.19,-48.79
4,1005,Sudeste,35,SP,São Paulo,sao paulo,"sao paulo SP, Brazil",-23.550651,-46.633382,SP,-22.19,-48.79
...,...,...,...,...,...,...,...,...,...,...,...,...
19168,99960,Sul,43,RS,Rio Grande do Sul,charrua,"charrua RS, Brazil",-27.953375,-52.031259,RS,-30.17,-53.50
19169,99965,Sul,43,RS,Rio Grande do Sul,agua santa,"agua santa RS, Brazil",-28.177530,-52.036030,RS,-30.17,-53.50
19170,99970,Sul,43,RS,Rio Grande do Sul,ciriaco,"ciriaco RS, Brazil",-28.342914,-51.876368,RS,-30.17,-53.50
19171,99980,Sul,43,RS,Rio Grande do Sul,david canabarro,"david canabarro RS, Brazil",-28.387867,-51.847265,RS,-30.17,-53.50
19172,99990,Sul,43,RS,Rio Grande do Sul,muliterno,"muliterno RS, Brazil",-28.329599,-51.768244,RS,-30.17,-53.50

In [40]:
df.rename(columns={'latitud': 'latitud_city','longitud': 'longitud_city','latitude': 'latitud_state', 'longitude':'longitud_state'}, inplace=True)
# Elimino geolocation_latitude y geolocation_longitude
df = df.drop(columns=['uf'])#,'geolocation_lat','geolocation_lng'])

In [41]:
df

,zip_code_prefix,region_name,id_state,state_sigla,state_name,city,localizador,longitud_city,longitud,latitud_state,longitud_state
0,1001,Sudeste,35,SP,São Paulo,sao paulo,"sao paulo SP, Brazil",-23.550651,-46.633382,-22.19,-48.79
1,1002,Sudeste,35,SP,São Paulo,sao paulo,"sao paulo SP, Brazil",-23.550651,-46.633382,-22.19,-48.79
2,1003,Sudeste,35,SP,São Paulo,sao paulo,"sao paulo SP, Brazil",-23.550651,-46.633382,-22.19,-48.79
3,1004,Sudeste,35,SP,São Paulo,sao paulo,"sao paulo SP, Brazil",-23.550651,-46.633382,-22.19,-48.79
4,1005,Sudeste,35,SP,São Paulo,sao paulo,"sao paulo SP, Brazil",-23.550651,-46.633382,-22.19,-48.79
...,...,...,...,...,...,...,...,...,...,...,...
19168,99960,Sul,43,RS,Rio Grande do Sul,charrua,"charrua RS, Brazil",-27.953375,-52.031259,-30.17,-53.50
19169,99965,Sul,43,RS,Rio Grande do Sul,agua santa,"agua santa RS, Brazil",-28.177530,-52.036030,-30.17,-53.50
19170,99970,Sul,43,RS,Rio Grande do Sul,ciriaco,"ciriaco RS, Brazil",-28.342914,-51.876368,-30.17,-53.50
19171,99980,Sul,43,RS,Rio Grande do Sul,david canabarro,"david canabarro RS, Brazil",-28.387867,-51.847265,-30.17,-53.50
19172,99990,Sul,43,RS,Rio Grande do Sul,muliterno,"muliterno RS, Brazil",-28.329599,-51.768244,-30.17,-53.50