In [334]:
import psycopg2
import pandas as pd
import numpy as np
import datetime as dt
from sqlalchemy import create_engine
import time
from psycopg2.extensions import register_adapter, AsIs

In [335]:
psycopg2.extensions.register_adapter(np.int64, psycopg2._psycopg.AsIs)
psycopg2.extensions.register_adapter(np.int32, psycopg2._psycopg.AsIs)

In [445]:
# Conexión a la base de datos
conn = psycopg2.connect(
    host="dpg-cf3enqun6mplnpe950v0-a.oregon-postgres.render.com",
    database="olist",
    user="olist",
    password="IHCRtcefMFbJIjUMXuUMtcIfpTAEo5d1"
)

In [337]:
# Carga actual
engine = create_engine('postgresql://olist:IHCRtcefMFbJIjUMXuUMtcIfpTAEo5d1@dpg-cf3enqun6mplnpe950v0-a.oregon-postgres.render.com:5432/olist')

product_cat_name_ac = pd.read_sql_table('product_category_name_translation', engine)
geolocation_ac = pd.read_sql_table('geolocation', engine)
marketing_ac = pd.read_sql_table('marketing_qualified_leads', engine)
closed_deals_ac = pd.read_sql_table('closed_deals', engine)
sellers_ac = pd.read_sql_table('olist_sellers', engine)
customers_ac=pd.read_sql_table('customers', engine)
orders_ac = pd.read_sql_table('orders', engine)
payments_ac = pd.read_sql_table('order_payments', engine)
reviews_ac = pd.read_sql_table('order_reviews', engine)
products_ac = pd.read_sql_table('products', engine)
items_ac = pd.read_sql_table('order_items', engine)

engine.dispose()

In [338]:
#Carga incremental crudo
product_cat_name_inc=pd.read_csv("Datasetsincremental/product_category_name_translation.csv")
geolocation_inc=pd.read_csv("Datasetsincremental/olist_geolocation_dataset.csv", dtype= {'geolocation_zip_code_prefix': str})
marketing_inc=pd.read_csv("Datasetsincremental/olist_marketing_qualified_leads_dataset.csv")
closed_deals_inc=pd.read_csv("Datasetsincremental/olist_closed_deals_dataset.csv")
sellers_inc=pd.read_csv("Datasetsincremental/olist_sellers_dataset.csv",dtype={"seller_zip_code_prefix": str})
customers_inc=pd.read_csv("Datasetsincremental/olist_customers_dataset.csv",dtype={"customer_zip_code_prefix": str})
orders_inc=pd.read_csv("Datasetsincremental/olist_orders_dataset.csv")
payments_inc=pd.read_csv("Datasetsincremental/olist_order_payments_dataset.csv")
reviews_inc=pd.read_csv("Datasetsincremental/olist_order_reviews_dataset.csv")
products_inc=pd.read_csv("Datasetsincremental/olist_products_dataset.csv")
items_inc=pd.read_csv("Datasetsincremental/olist_order_items_dataset.csv")
df_coord_estados_inc = pd.read_csv('datasetsincremental/coordenadas_estados.csv',sep=';')
df_coord_ciudades_inc = pd.read_csv('datasetsincremental/coordenadas_ciudades.csv')
br_info_inc = pd.read_csv('datasetsincremental/br_info.csv')

In [339]:
#Product Category Name Translation

def etl_product_cat():
    product_cat_name=product_cat_name_inc.copy()

    product_cat_name=product_cat_name.append({"product_category_name" : "pc_gamer" , "product_category_name_english" : "pc_gamer"} , ignore_index=True)
    product_cat_name=product_cat_name.append({"product_category_name" : "portateis_cozinha_e_preparadores_de_alimentos" , "product_category_name_english" : "kitchen_and_food_preparation_racks"} , ignore_index=True)
    product_cat_name=product_cat_name.append({"product_category_name" : "outras" , "product_category_name_english" : "others"} , ignore_index=True)
    product_cat_name["product_category_name"]=product_cat_name["product_category_name"].str.replace("_"," ")
    product_cat_name["product_category_name_english"]=product_cat_name["product_category_name_english"].str.replace("_"," ")
   

    return product_cat_name

# Geolocation

def etl_geolocation():

    df_coord_estados = df_coord_estados_inc.copy()
    df_coord_ciudades = df_coord_ciudades_inc.copy()
    br_info = br_info_inc.copy()
    geolocation=geolocation_inc.copy()
    sellers=sellers_inc.copy()
    customers=customers_inc.copy()

    # Renombre de columnas

    geolocation.rename(columns={'geolocation_zip_code_prefix': 'zip_code_prefix','geolocation_city': 'city','geolocation_state': 'state'}, inplace=True)
    sellers.rename(columns={'seller_zip_code_prefix': 'zip_code_prefix', 'seller_city': 'city', 'seller_state': 'state'}, inplace=True)
    customers.rename(columns={'customer_zip_code_prefix': 'zip_code_prefix', 'customer_city': 'city', 'customer_state': 'state'}, inplace=True)

    # Concatención
    # Concateno todos los datasets
    df_concat = pd.concat([geolocation,sellers[['zip_code_prefix','city','state']],customers[['zip_code_prefix','city','state']]],axis=0)

    # PROCESAMIENTO
    df_procesado = df_concat.groupby(by='zip_code_prefix', as_index=False).min()
    df_procesado = df_procesado.merge(br_info, how='left', left_on='state', right_on='sigla')
    # Renombre
    df_procesado.rename(columns={'id': 'id_state', 'state':'state_sigla','nome':'state_name','nome_regiao':'region_name'}, inplace=True)
    # Drop de sigla
    df_procesado.drop(columns=['sigla'],inplace=True)
    # Reordenado
    df_procesado = df_procesado[['zip_code_prefix','region_name','id_state','state_sigla','state_name','city','geolocation_lat','geolocation_lng']]
    # Añado columna localizador
    df_procesado['localizador'] = df_procesado['city'] + ' ' + df_procesado['state_sigla'] + ', Brazil'
    # Merge con coordenadas de city y estados
    df_procesado = df_procesado.merge(df_coord_ciudades[['localizador','latitud','longitud']], on = 'localizador')
    df_procesado = df_procesado.merge(df_coord_estados, how='left', left_on='state_sigla', right_on='uf')
    # Renombre columnas
    df_procesado.rename(columns={'latitud': 'latitud_city','longitud': 'longitud_city','latitude': 'latitud_state', 'longitude':'longitud_state'}, inplace=True)
    # Elimino geolocation_latitude y geolocation_longitude y uf
    df_final_procesado = df_procesado.drop(columns=['uf','geolocation_lat','geolocation_lng'])

    return df_final_procesado 

# Marketing

def etl_marketing():
    marketing=marketing_inc.copy()

    marketing.drop(columns=["landing_page_id"],axis=1,inplace=True)

    marketing["first_contact_date"]=pd.to_datetime(marketing["first_contact_date"],format="%Y-%m-%d %H:%M:%S")

    marketing.fillna("SIN DATO",inplace=True)
    return marketing

# Sellers

def etl_sellers():
    
    sellers=sellers_inc.copy()
    closed_deals=closed_deals_inc.copy()

    sellers.drop(columns=["seller_city","seller_state"],axis=1,inplace=True)

    return sellers

# Closed Deals

def etl_closed_deals():
    closed_deals=closed_deals_inc.copy()

    closed_deals.drop(columns=["sdr_id","sr_id","lead_behaviour_profile","has_company","has_gtin","average_stock","business_type","declared_product_catalog_size","declared_monthly_revenue"],axis=1,inplace=True)
    closed_deals["won_date"]=pd.to_datetime(closed_deals["won_date"],format="%Y-%m-%d %H:%M:%S")
    closed_deals.fillna("SIN DATO",inplace=True)
    
    return closed_deals


# Customers

def etl_customers():
    customers=customers_inc.copy()

    customers.drop(columns=["customer_city","customer_state"],axis=1,inplace=True)

    return customers

# Orders

def etl_orders():

    payments=payments_inc.copy()
    orders=orders_inc.copy()
    
    orders["order_purchase_timestamp"]=pd.to_datetime(orders["order_purchase_timestamp"],format="%Y-%m-%d %H:%M:%S")
    orders["order_approved_at"]=pd.to_datetime(orders["order_approved_at"],format="%Y-%m-%d %H:%M:%S")
    orders["order_delivered_carrier_date"]=pd.to_datetime(orders["order_delivered_carrier_date"],format="%Y-%m-%d %H:%M:%S")
    orders["order_delivered_customer_date"]=pd.to_datetime(orders["order_delivered_customer_date"],format="%Y-%m-%d %H:%M:%S")
    orders["order_estimated_delivery_date"]=pd.to_datetime(orders["order_estimated_delivery_date"],format="%Y-%m-%d %H:%M:%S")

    orders['difference_days1'] = orders['order_approved_at'] - orders['order_purchase_timestamp']
    orders['difference_days2'] = orders['order_delivered_carrier_date'] - orders['order_approved_at']
    orders['difference_days3'] = orders['order_delivered_customer_date'] - orders['order_approved_at']
    orders['difference_days4'] = orders['order_delivered_customer_date'] - orders['order_delivered_carrier_date']
    orders['difference_days5'] = orders['order_estimated_delivery_date'] - orders['order_delivered_customer_date']

    orders["order_approved_at_new"]=orders["order_purchase_timestamp"]+(orders["order_delivered_carrier_date"]-orders["order_purchase_timestamp"])/2

    orders.loc[(orders["difference_days2"]<pd.Timedelta(0)) & (orders["difference_days3"]<pd.Timedelta(0)),"order_approved_at"]=orders.loc[(orders["difference_days2"]<pd.Timedelta(0)) & (orders["difference_days3"]<pd.Timedelta(0)),"order_approved_at_new"]

    orders["order_delivered_carrier_date_new"]=orders["order_approved_at"]+(orders["order_delivered_customer_date"]-orders["order_approved_at"])/2

    orders.loc[orders["difference_days2"]<pd.Timedelta(0),"order_delivered_carrier_date"]=orders.loc[orders["difference_days2"]<pd.Timedelta(0),"order_delivered_carrier_date_new"]

    orders["order_delivered_carrier_date_new"]=orders["order_approved_at"]+(orders["order_delivered_customer_date"]-orders["order_approved_at"])/2

    orders.loc[orders["difference_days4"]<pd.Timedelta(0),"order_delivered_carrier_date"]=orders.loc[orders["difference_days4"]<pd.Timedelta(0),"order_delivered_carrier_date_new"]

    orders["order_delivered_carrier_date_new"]=orders["order_approved_at"]+(orders["order_delivered_customer_date"]-orders["order_approved_at"])/2
    orders.loc[(orders["order_status"]=="delivered") & (orders["order_delivered_carrier_date"].isnull()),"order_delivered_carrier_date"]=orders.loc[(orders["order_status"]=="delivered") & (orders["order_delivered_carrier_date"].isnull()),"order_delivered_carrier_date_new"]

    orders.loc[(orders["order_status"]=="delivered") & (orders["order_delivered_carrier_date"].isnull()),"order_status"]="approved"

    orders["order_approved_at_new"]=orders["order_purchase_timestamp"]+(orders["order_delivered_carrier_date"]-orders["order_purchase_timestamp"])/2
    orders.loc[(orders["order_status"]=="delivered") & (orders["order_approved_at"].isnull()),"order_approved_at"]=orders.loc[(orders["order_status"]=="delivered") & (orders["order_approved_at"].isnull()),"order_approved_at_new"]

    orders.loc[(orders["order_status"]=="delivered")&(orders["order_delivered_customer_date"].isnull()),"order_status"]="shipped"

    orders.drop(columns=["difference_days1","difference_days2","difference_days3","difference_days4","difference_days5","order_approved_at_new","order_delivered_carrier_date_new"],inplace=True)

    dftotalordercost=payments.groupby(['order_id']).sum()
    dftotalordercost=dftotalordercost.drop(columns=["payment_installments"])
    dftotalordercost.rename(columns={"payment_value":"total_order_cost"},inplace=True)
   
    orders = orders.merge(dftotalordercost[['total_order_cost']], on='order_id', how='outer')    

    return orders


# Payments

def etl_payments():

    payments=payments_inc.copy()

    payments.drop(columns=["payment_sequential"],axis= 1, inplace=True)

    return payments


#Reviews

def etl_reviews():

    reviews=reviews_inc.copy()

    reviews["review_creation_date"]=pd.to_datetime(reviews["review_creation_date"],format="%Y-%m-%d %H:%M:%S")
    reviews["review_answer_timestamp"]=pd.to_datetime(reviews["review_answer_timestamp"],format="%Y-%m-%d %H:%M:%S")

    reviews["review_comment_title"].fillna("SIN TITULO",inplace=True)
    reviews["review_comment_message"].fillna("SIN COMENTARIOS",inplace=True)

    return reviews

# Products

def etl_products():

    products=products_inc.copy()

    products.drop(columns=["product_name_lenght","product_description_lenght","product_weight_g","product_length_cm","product_height_cm","product_width_cm"],axis=1,inplace=True)
    products["product_photos_qty"].fillna(0.0,inplace=True)
    products["product_photos_qty"] = products["product_photos_qty"] .astype("int")
    products["product_category_name"]=products["product_category_name"].str.replace("_"," ")
    products["product_category_name"]=products["product_category_name"].fillna("outras")
    

    return products

# Items

def etl_items():

    items=items_inc.copy()

    items["shipping_limit_date"]=pd.to_datetime(items["shipping_limit_date"],format="%Y-%m-%d %H:%M:%S")

    return items

In [340]:
#incremental despues de ETL
product_cat_name_in=etl_product_cat()
geolocation_in=etl_geolocation()
marketing_in=etl_marketing()
sellers_in=etl_sellers()
closed_deals_in=etl_closed_deals()
customers_in=etl_customers()
orders_in=etl_orders()
payments_in=etl_payments()
reviews_in=etl_reviews()
products_in=etl_products()
items_in=etl_items()

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12988\2038168649.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  product_cat_name=product_cat_name.append({"product_category_name" : "pc_gamer" , "product_category_name_english" : "pc_gamer"} , ignore_index=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12988\2038168649.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  product_cat_name=product_cat_name.append({"product_category_name" : "portateis_cozinha_e_preparadores_de_alimentos" , "product_category_name_english" : "kitchen_and_food_preparation_racks"} , ignore_index=True)

In [341]:
product_cat_name_aux=pd.merge(left=product_cat_name_ac,right=product_cat_name_in,on='product_category_name',how='outer')
product_cat_name_aux=pd.merge(left=product_cat_name_aux,right=products_in[['product_category_name']].drop_duplicates(),on='product_category_name',how='outer')
product_cat_name_aux["UPDATE"]="NO"
product_cat_name_aux["INSERT"]="NO"

In [342]:
product_cat_name_aux.loc[(product_cat_name_aux["product_category_name_english_x"]!=product_cat_name_aux["product_category_name_english_y"])\
     &(product_cat_name_aux.index<=product_cat_name_ac.count()[0]-1),"UPDATE"]="SI"
product_cat_name_aux.loc[product_cat_name_aux.index>product_cat_name_ac.count()[0]-1,"INSERT"]="SI"

In [395]:
product_cat_name_aux.tail(15)

,product_category_name_id,product_category_name,product_category_name_english_x,product_category_name_english_y,UPDATE,INSERT
63,64.0,portateis casa forno e cafe,small appliances home oven and coffee,small appliances home oven and coffee,NO,NO
64,65.0,cds dvds musicais,cds dvds musicals,cds dvds musicals,NO,NO
65,66.0,dvds blu ray,dvds blu ray,dvds blu ray,NO,NO
66,67.0,flores,flowers,flowers,NO,NO
67,68.0,artes e artesanato,arts and craftmanship,arts and craftmanship,NO,NO
68,69.0,fraldas higiene,diapers and hygiene,diapers and hygiene,NO,NO
69,70.0,fashion roupa infanto juvenil,fashion childrens clothes,fashion childrens clothes,NO,NO
70,71.0,seguros e servicos,security and services,security and servicesmod,SI,NO
71,72.0,pc gamer,pc gamer,pc gamer,NO,NO
72,73.0,portateis cozinha e preparadores de alimentos,kitchen and food preparation racks,kitchen and food preparation racks,NO,NO
73,NaN,probandonew1,NaN,probandoenglish1,NO,SI
74,NaN,probandonew2,NaN,probandoenglish2,NO,SI
75,NaN,outras,NaN,NaN,NO,SI
76,NaN,informatica acessoriosmod,NaN,NaN,NO,SI
77,NaN,neprodnewcategorynew,NaN,NaN,NO,SI

In [401]:
product_cat_name_aux[product_cat_name_aux.isnull().any(1)]

,product_category_name_id,product_category_name,product_category_name_english_x,product_category_name_english_y,UPDATE,INSERT
73,NaN,probandonew1,NaN,probandoenglish1,NO,SI
74,NaN,probandonew2,NaN,probandoenglish2,NO,SI
75,NaN,outras,NaN,NaN,NO,SI
76,NaN,informatica acessoriosmod,NaN,NaN,NO,SI
77,NaN,neprodnewcategorynew,NaN,NaN,NO,SI

In [346]:
# Creación del cursor
cur = conn.cursor()
updateindex=list(product_cat_name_aux[product_cat_name_aux["UPDATE"]=="SI"].index)
for i in updateindex:
    cur.execute("""UPDATE product_category_name_translation \
    SET product_category_name_english = %s \
    WHERE product_category_name = %s"""\
    ,(product_cat_name_aux.loc[i,"product_category_name_english_y"],product_cat_name_aux.loc[i,"product_category_name"]))
#conn.commit()
#cur.close()
# Creación del cursor
#cur = conn.cursor()
insertindex=list(product_cat_name_aux[product_cat_name_aux["INSERT"]=="SI"].index)
for i in insertindex:
    cur.execute("""INSERT INTO product_category_name_translation( \
	 product_category_name, product_category_name_english) \
	VALUES (%s,%s)"""\
	,(product_cat_name_aux.loc[i,"product_category_name"],product_cat_name_aux.loc[i,"product_category_name_english_y"]))
#conn.commit()
#cur.close()

In [347]:
conn.commit()
cur.close()

In [359]:
marketing_aux=pd.merge(left=marketing_ac,right=marketing_in,on='mql_id',how='outer')
marketing_aux=pd.merge(left=marketing_aux,right=closed_deals_in[['mql_id']].drop_duplicates(),on='mql_id',how='outer')
marketing_aux["UPDATE"]="NO"
marketing_aux["INSERT"]="NO"

In [360]:
marketing_aux.loc[((marketing_aux["first_contact_date_x"]!=marketing_aux["first_contact_date_y"].dt.normalize()) |\
    (marketing_aux["origin_x"]!=marketing_aux["origin_y"])) &\
    ((marketing_aux["first_contact_date_x"].notnull()) & (marketing_aux["first_contact_date_y"].notnull())) &\
    (marketing_aux.index<=marketing_ac.count()[0]-1),"UPDATE"]="SI"
marketing_aux.loc[marketing_aux.index>marketing_ac.count()[0]-1,"INSERT"]="SI"

In [363]:
marketing_aux[marketing_aux["UPDATE"]=="SI"]

,mql_id,first_contact_date_x,origin_x,first_contact_date_y,origin_y,UPDATE,INSERT
7998,4f8c96e2509b984329044c6682c88ee9,2017-10-06 00:00:00,organic_search,2017-10-06 00:00:00,organic_searchmod1,SI,NO
7999,8a6492305a5fbcdcdd1a7f5a90764c07,2018-01-11 00:00:00,direct_traffic,2018-01-11 00:00:00,direct_trafficmod2,SI,NO

In [364]:
marketing_aux[marketing_aux["INSERT"]=="SI"]

,mql_id,first_contact_date_x,origin_x,first_contact_date_y,origin_y,UPDATE,INSERT
8000,8a6492305a5fbcdcdd1a7f5a9076new1,None,None,2018-01-11 00:00:00,SIN DATO,NO,SI
8001,8a6492305a5fbcdcdd1a7f5a9076new2,None,None,2018-01-11 00:00:00,direct_traffic,NO,SI
8002,8a6492305a5fbcdcdd1a7f5a9076newc,None,None,None,None,NO,SI

In [361]:
marketing_aux = marketing_aux.replace({np.nan: None})

In [362]:
# Creación del cursor,Update
cur = conn.cursor()
updateindex=list(marketing_aux[marketing_aux["UPDATE"]=="SI"].index)
for i in updateindex:
    cur.execute("""UPDATE marketing_qualified_leads \
    SET first_contact_date = %s\
    ,origin = %s \
    WHERE mql_id = %s"""\
    ,(marketing_aux.loc[i,"first_contact_date_y"],marketing_aux.loc[i,"origin_y"],marketing_aux.loc[i,"mql_id"]))
#conn.commit()
#cur.close()
# Creación del cursor,INSERT
#cur = conn.cursor()
insertindex=list(marketing_aux[marketing_aux["INSERT"]=="SI"].index)
for i in insertindex:
    cur.execute("""INSERT INTO marketing_qualified_leads( \
	 mql_id, first_contact_date,origin) \
	VALUES (%s,%s,%s)"""\
    ,(marketing_aux.loc[i,"mql_id"],marketing_aux.loc[i,"first_contact_date_y"],marketing_aux.loc[i,"origin_y"]))
#conn.commit()
#cur.close()

NotNullViolation: null value in column "first_contact_date" of relation "marketing_qualified_leads" violates not-null constraint
DETAIL:  Failing row contains (8a6492305a5fbcdcdd1a7f5a9076newc, null, null).

In [369]:
sellers_aux=pd.merge(left=sellers_ac,right=sellers_in,on='seller_id',how='outer')
sellers_aux=pd.merge(left=sellers_aux,right=closed_deals_in[['seller_id']].drop_duplicates(),on='seller_id',how='outer')
sellers_aux=pd.merge(left=sellers_aux,right=items_in[['seller_id']].drop_duplicates(),on='seller_id',how='outer')
sellers_aux["UPDATE"]="NO"
sellers_aux["INSERT"]="NO"

In [370]:
sellers_aux.loc[(sellers_aux["seller_zip_code_prefix_x"]!=sellers_aux["seller_zip_code_prefix_y"]) \
    &(sellers_aux.index<=sellers_ac.count()[0]-1)& (sellers_aux.index<=sellers_ac.count()[0]-1),"UPDATE"]="SI"
sellers_aux.loc[sellers_aux.index>sellers_ac.count()[0]-1,"INSERT"]="SI"

In [372]:
sellers_aux[sellers_aux["UPDATE"]=="SI"]

,seller_id,seller_zip_code_prefix_x,seller_zip_code_prefix_y,UPDATE,INSERT
3095,bbb7d7893a450660432ea6652310ebb7,None,NaN,SI,NO
3096,21e1781e36faf92725dde4730a88ca0f,None,NaN,SI,NO
3097,92d7568ad0c5c76fd7d341b2d46f24d6,None,NaN,SI,NO
3098,0b28859cd04d23edefee9c591fb03cd8,None,NaN,SI,NO
3099,f7a0d94e966c5665355a182d5b199fcf,None,NaN,SI,NO
...,...,...,...,...,...
3552,bfcc27719640628da877db48b672b169,None,NaN,SI,NO
3553,4a82eab98441aeb64566e2776c1fb2b6,None,NaN,SI,NO
3554,55031883943971ca22db6894574cfe2c,None,NaN,SI,NO
3555,c0e933c238e41f0cd459d6025ee9b364,None,NaN,SI,NO
3556,1bba9c94eb5c4e82fba9f7286fe81025,None,NaN,SI,NO

In [373]:
sellers_aux[sellers_aux["INSERT"]=="SI"]

,seller_id,seller_zip_code_prefix_x,seller_zip_code_prefix_y,UPDATE,INSERT
3557,725af026f869236a8dd0ceb9854new1,NaN,35530,NO,SI
3558,651fe66032c9520ee5587f69490new2,NaN,94810,NO,SI
3559,1bba9c94eb5c4e82fba9f7286fenewsel,NaN,NaN,NO,SI
3560,dd7ddc04e1b6c2c614352b3newseller1,NaN,NaN,NO,SI

In [371]:
# Creación del cursor,Update
cur = conn.cursor()
updateindex=list(sellers_aux[sellers_aux["UPDATE"]=="SI"].index)
for i in updateindex:
    cur.execute("""UPDATE olist_sellers \
    SET seller_zip_code_prefix = %s \
    WHERE seller_id= %s"""\
    ,(sellers_aux.loc[i,"seller_zip_code_prefix_y"],sellers_aux.loc[i,"seller_id"]))
#conn.commit()
#cur.close()
# Creación del cursor,INSERT
cur = conn.cursor()
insertindex=list(sellers_aux[sellers_aux["INSERT"]=="SI"].index)
for i in insertindex:
    cur.execute("""INSERT INTO olist_sellers( \
	 seller_id,seller_zip_code_prefix ) \
	VALUES (%s,%s)"""
    ,(sellers_aux.loc[i,"seller_id"],sellers_aux.loc[i,"seller_zip_code_prefix_y"]))
#conn.commit()
#cur.close()

ForeignKeyViolation: insert or update on table "olist_sellers" violates foreign key constraint "olist_sellers_seller_zip_code_prefix_fkey"
DETAIL:  Key (seller_zip_code_prefix)=(NaN) is not present in table "geolocation".

In [378]:
closed_deals_aux=pd.merge(left=closed_deals_ac,right=closed_deals_in,on=['mql_id','seller_id'],how='outer')
closed_deals_aux["UPDATE"]="NO"
closed_deals_aux["INSERT"]="NO"

In [379]:
closed_deals_aux.loc[((closed_deals_aux["won_date_x"]!=closed_deals_aux["won_date_y"].dt.normalize()) |\
     (closed_deals_aux["business_segment_x"]!=closed_deals_aux["business_segment_y"])| \
     (closed_deals_aux["lead_type_x"]!=closed_deals_aux["lead_type_y"]))& \
        ((closed_deals_aux["won_date_x"].notnull()) & (closed_deals_aux["won_date_y"].notnull()))&\
        (closed_deals_aux.index<=closed_deals_ac.count()[0]-1),"UPDATE"]="SI"
closed_deals_aux.loc[closed_deals_aux.index>closed_deals_ac.count()[0]-1,"INSERT"]="SI"

In [380]:
# Creación del cursor,Update
cur = conn.cursor()
updateindex=list(closed_deals_aux[closed_deals_aux["UPDATE"]=="SI"].index)
for i in updateindex:
    cur.execute("UPDATE closed_deals \
    SET won_date = %s \
    ,business_segment = %s \
    ,lead_type = %s \
    WHERE mql_id= %s"""\
    ,(closed_deals_aux.loc[i,"won_date_y"],closed_deals_aux.loc[i,"business_segment_y"]\
    ,closed_deals_aux.loc[i,"lead_type_y"],closed_deals_aux.loc[i,"mql_id"]))
#conn.commit()
#cur.close()
# Creación del cursor,INSERT
#cur = conn.cursor()
insertindex=list(closed_deals_aux[closed_deals_aux["INSERT"]=="SI"].index)
for i in insertindex:
    cur.execute("""INSERT INTO closed_deals( \
	 mql_id,seller_id,won_date,business_segment,lead_type) \
	VALUES (%s,%s,%s,%s,%s)""" \
    ,(closed_deals_aux.loc[i,"mql_id"],closed_deals_aux.loc[i,"seller_id"],closed_deals_aux.loc[i,"won_date_y"]\
    ,closed_deals_aux.loc[i,"business_segment_y"],closed_deals_aux.loc[i,"lead_type_y"]))
#conn.commit()
#cur.close()

ForeignKeyViolation: insert or update on table "closed_deals" violates foreign key constraint "closed_deals_mql_id_fkey"
DETAIL:  Key (mql_id)=(8a6492305a5fbcdcdd1a7f5a9076newc) is not present in table "marketing_qualified_leads".

In [381]:
customers_aux=pd.merge(left=customers_ac,right=customers_in,on='customer_id',how='outer')
customers_aux=pd.merge(left=customers_aux,right=orders_in[['customer_id']].drop_duplicates(),on='customer_id',how='outer')

customers_aux["UPDATE"]="NO"
customers_aux["INSERT"]="NO"

In [382]:
customers_aux.loc[((customers_aux["customer_unique_id_x"]!=customers_aux["customer_unique_id_y"]) | \
     (customers_aux["customer_zip_code_prefix_x"]!=customers_aux["customer_zip_code_prefix_y"]))& \
        (customers_aux.index<=customers_ac.count()[0]-1),"UPDATE"]="SI"

customers_aux.loc[customers_aux.index>customers_ac.count()[0]-1,"INSERT"]="SI"

In [388]:
customers_aux[customers_aux["INSERT"]=="SI"]

,customer_id,customer_unique_id_x,customer_zip_code_prefix_x,customer_unique_id_y,customer_zip_code_prefix_y,UPDATE,INSERT
99441,1f1c7bf1c9b041b292af6c1c4470newc,NaN,NaN,3151a81801c8386361b62277d7fa5ecf,95110,NO,SI

In [385]:
# Creación del cursor,Update
cur = conn.cursor()
updateindex=list(customers_aux[customers_aux["UPDATE"]=="SI"].index)
for i in updateindex:
    cur.execute("""UPDATE customers \
    SET customer_unique_id = %s\
    ,customer_zip_code_prefix = %s \
    WHERE customer_id = %s\
    """,(customers_aux.loc[i,"customer_unique_id_y"],customers_aux.loc[i,"customer_zip_code_prefix_y"],customers_aux.loc[i,"customer_id"]))
#conn.commit()
#cur.close()
# Creación del cursor,INSERT
cur = conn.cursor()
insertindex=list(customers_aux[customers_aux["INSERT"]=="SI"].index)
for i in insertindex:
    cur.execute("""INSERT INTO customers( \
	 customer_id, customer_unique_id,customer_zip_code_prefix) \
	VALUES (%s,%s,%s)"""\
    ,(customers_aux.loc[i,"customer_id"],customers_aux.loc[i,"customer_unique_id_y"],customers_aux.loc[i,"customer_zip_code_prefix_y"]))
#conn.commit()
#cur.close()

In [386]:
conn.commit()

In [389]:
orders_aux=pd.merge(left=orders_ac,right=orders_in,on='order_id',how='outer')
orders_aux=pd.merge(left=orders_aux,right=payments_in[['order_id']].drop_duplicates(),on='order_id',how='outer')
orders_aux=pd.merge(left=orders_aux,right=reviews_in[['order_id']].drop_duplicates(),on='order_id',how='outer')
orders_aux=pd.merge(left=orders_aux,right=items_in[['order_id']].drop_duplicates(),on='order_id',how='outer')
orders_aux["UPDATE"]="NO"
orders_aux["INSERT"]="NO"

In [390]:
orders_aux.loc[((orders_aux["customer_id_x"]!=orders_aux["customer_id_y"]) | (orders_aux["order_status_x"]!=orders_aux["order_status_y"])|\
    (orders_aux["order_purchase_timestamp_x"]!=orders_aux["order_purchase_timestamp_y"].dt.normalize())|\
    (orders_aux["order_approved_at_x"]!=orders_aux["order_approved_at_y"].dt.normalize())|\
    (orders_aux["order_delivered_carrier_date_x"]!=orders_aux["order_delivered_carrier_date_y"].dt.normalize())|\
    (orders_aux["order_delivered_customer_date_x"]!=orders_aux["order_delivered_customer_date_y"].dt.normalize())|\
    (orders_aux["order_estimated_delivery_date_x"]!=orders_aux["order_estimated_delivery_date_y"].dt.normalize())|\
    (orders_aux["total_order_cost_x"]!=orders_aux["total_order_cost_y"]))&\
    ((orders_aux["order_purchase_timestamp_x"].notnull()) & (orders_aux["order_purchase_timestamp_y"].notnull()))&\
    ((orders_aux["order_approved_at_x"].notnull()) & (orders_aux["order_approved_at_y"].notnull()))&\
    ((orders_aux["order_delivered_carrier_date_x"].notnull()) & (orders_aux["order_delivered_carrier_date_y"].notnull()))&\
    ((orders_aux["order_delivered_customer_date_x"].notnull()) & (orders_aux["order_delivered_customer_date_y"].notnull()))&\
    ((orders_aux["order_estimated_delivery_date_x"].notnull()) & (orders_aux["order_estimated_delivery_date_y"].notnull()))&\
    (orders_aux.index<=orders_ac.count()[0]-1),"UPDATE"]="SI"
orders_aux.loc[orders_aux.index>orders_ac.count()[0]-1,"INSERT"]="SI"

In [391]:
orders_aux = orders_aux.replace({np.nan: None})

In [392]:
orders_aux.head(12)

,order_id,customer_id_x,order_status_x,order_purchase_timestamp_x,order_approved_at_x,order_delivered_carrier_date_x,order_delivered_customer_date_x,order_estimated_delivery_date_x,total_order_cost_x,customer_id_y,order_status_y,order_purchase_timestamp_y,order_approved_at_y,order_delivered_carrier_date_y,order_delivered_customer_date_y,order_estimated_delivery_date_y,total_order_cost_y,UPDATE,INSERT
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 00:00:00,2017-10-02 00:00:00,2017-10-04 00:00:00,2017-10-10 00:00:00,2017-10-18 00:00:00,38.71,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,38.71,NO,NO
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 00:00:00,2018-07-26 00:00:00,2018-07-26 00:00:00,2018-08-07 00:00:00,2018-08-13 00:00:00,141.46,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,141.46,NO,NO
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 00:00:00,2018-08-08 00:00:00,2018-08-08 00:00:00,2018-08-17 00:00:00,2018-09-04 00:00:00,179.12,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,179.12,NO,NO
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 00:00:00,2017-11-18 00:00:00,2017-11-22 00:00:00,2017-12-02 00:00:00,2017-12-15 00:00:00,72.2,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,72.2,NO,NO
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 00:00:00,2018-02-13 00:00:00,2018-02-14 00:00:00,2018-02-16 00:00:00,2018-02-26 00:00:00,28.62,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,28.62,NO,NO
5,a4591c265e18cb1dcee52889e2d8acc3,503740e9ca751ccdda7ba28e9ab8f608,delivered,2017-07-09 00:00:00,2017-07-09 00:00:00,2017-07-11 00:00:00,2017-07-26 00:00:00,2017-08-01 00:00:00,175.26,503740e9ca751ccdda7ba28e9ab8f608,delivered,2017-07-09 21:57:05,2017-07-09 22:10:13,2017-07-11 14:58:04,2017-07-26 10:57:55,2017-08-01 00:00:00,175.26,NO,NO
6,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,invoiced,2017-04-11 00:00:00,2017-04-13 00:00:00,None,None,2017-05-09 00:00:00,65.95,ed0271e0b7da060a393796590e7b737a,invoiced,2017-04-11 12:22:08,2017-04-13 13:25:17,None,None,2017-05-09 00:00:00,65.95,NO,NO
7,6514b8ad8028c9f2cc2374ded245783f,9bdf08b4b3b52b5526ff42d37d47f222,delivered,2017-05-16 00:00:00,2017-05-16 00:00:00,2017-05-22 00:00:00,2017-05-26 00:00:00,2017-06-07 00:00:00,75.16,9bdf08b4b3b52b5526ff42d37d47f222,delivered,2017-05-16 13:10:30,2017-05-16 13:22:11,2017-05-22 10:07:46,2017-05-26 12:55:51,2017-06-07 00:00:00,75.16,NO,NO
8,76c6e866289321a7c93b82b54852dc33,f54a9f0e6b351c431402b8461ea51999,delivered,2017-01-23 00:00:00,2017-01-25 00:00:00,2017-01-26 00:00:00,2017-02-02 00:00:00,2017-03-06 00:00:00,35.95,f54a9f0e6b351c431402b8461ea51999,delivered,2017-01-23 18:29:09,2017-01-25 02:50:47,2017-01-26 14:16:31,2017-02-02 14:08:10,2017-03-06 00:00:00,35.95,NO,NO
9,e69bfb5eb88e0ed6a785585b27e16dbf,31ad1d1b63eb9962463f764d4e6e0c9d,delivered,2017-07-29 00:00:00,2017-07-29 00:00:00,2017-08-10 00:00:00,2017-08-16 00:00:00,2017-08-23 00:00:00,169.76,31ad1d1b63eb9962463f764d4e6e0c9d,delivered,2017-07-29 11:55:02,2017-07-29 12:05:32,2017-08-10 19:45:24,2017-08-16 17:14:30,2017-08-23 00:00:00,169.76,NO,NO
10,e6ce16cb79ec1d90b1da9085a6118aeb,494dded5b201313c64ed7f100595b95c,delivered,2017-05-16 00:00:00,2017-05-16 00:00:00,2017-05-18 00:00:00,2017-05-29 00:00:00,2017-06-07 00:00:00,259.06,494dded5b201313c64ed7f100595b95c,delivered,2017-05-16 19:41:10,2017-05-16 19:50:18,2017-05-18 11:40:40,2017-05-29 11:18:31,2017-06-07 00:00:00,259.06,NO,NO
11,34513ce0c4fab462a55830c0989c7edb,7711cf624183d843aafe81855097bc37,delivered,2017-07-13 00:00:00,2017-07-13 00:00:00,2017-07-14 00:00:00,2017-07-19 00:00:00,2017-08-08 00:00:00,114.13,7711cf624183d843aafe81855097bc37,delivered,2017-07-13 19:58:11,2017-07-13 20:10:08,2017-07-14 18:43:29,2017-07-19 14:04:48,2017-08-08 00:00:00,114.13,NO,NO

In [108]:
#np.isnat(np.datetime64('Nat'))

True

In [393]:
# Creación del cursor,Update
cur = conn.cursor()
updateindex=list(orders_aux[orders_aux["UPDATE"]=="SI"].index)
for i in updateindex:
    cur.execute("""UPDATE orders \
    SET customer_id = %s \
    ,order_status = %s \
    ,order_purchase_timestamp = %s \
    ,order_approved_at = %s \
    ,order_delivered_carrier_date = %s \
    ,order_delivered_customer_date = %s \
    ,order_estimated_delivery_date = %s  \
    ,total_order_cost = %s \
    WHERE order_id = %s""",(orders_aux.loc[i,"customer_id_y"],orders_aux.loc[i,"order_status_y"]\
    ,orders_aux.loc[i,"order_purchase_timestamp_y"],orders_aux.loc[i,'order_approved_at_y']\
    ,orders_aux.loc[i,'order_delivered_carrier_date_y'],orders_aux.loc[i,'order_delivered_customer_date_y']\
    ,orders_aux.loc[i,'order_estimated_delivery_date_y'],orders_aux.loc[i,"total_order_cost_y"],orders_aux.loc[i,"order_id"]))
#conn.commit()
#cur.close() 
insertindex=list(orders_aux[orders_aux["INSERT"]=="SI"].index)
for i in insertindex:
    cur.execute("""INSERT INTO orders( \
	 order_id, customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,total_order_cost) \
	VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)""",(orders_aux.loc[i,"order_id"]\
    ,orders_aux.loc[i,"customer_id_y"]\
    ,orders_aux.loc[i,"order_status_y"]\
    ,orders_aux.loc[i,"order_purchase_timestamp_y"]\
    ,orders_aux.loc[i,"order_approved_at_y"]\
    ,orders_aux.loc[i,"order_delivered_carrier_date_y"]\
    ,orders_aux.loc[i,"order_delivered_customer_date_y"]\
    ,orders_aux.loc[i,"order_estimated_delivery_date_y"]\
    ,orders_aux.loc[i,"total_order_cost_y"]))
#conn.commit()
#cur.close()

OperationalError: server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.
server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

In [166]:
reviews_aux=pd.merge(left=reviews_ac,right=reviews_in,on=['review_id','order_id'],how='outer')
reviews_aux["UPDATE"]="NO"
reviews_aux["INSERT"]="NO"

In [167]:
reviews_aux.tail()

,review_unique_id,review_id,order_id,review_score_x,review_comment_title_x,review_comment_message_x,review_creation_date_x,review_answer_timestamp_x,review_score_y,review_comment_title_y,review_comment_message_y,review_creation_date_y,review_answer_timestamp_y,UPDATE,INSERT
99219,99220,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,SIN TITULO,SIN COMENTARIOS,2018-07-07,2018-07-14,5,SIN TITULO,SIN COMENTARIOS,2018-07-07,2018-07-14 17:18:30,NO,NO
99220,99221,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,SIN TITULO,SIN COMENTARIOS,2017-12-09,2017-12-11,5,SIN TITULO,SIN COMENTARIOS,2017-12-09,2017-12-11 20:06:42,NO,NO
99221,99222,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,SIN TITULO,"Excelente mochila, entrega super rápida. Super...",2018-03-22,2018-03-23,5,SIN TITULO,"Excelente mochila, entrega super rápida. Super...",2018-03-22,2018-03-23 09:10:43,NO,NO
99222,99223,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,SIN TITULO,SIN COMENTARIOS,2018-07-01,2018-07-02,4,SIN TITULO,SIN COMENTARIOS,2018-07-01,2018-07-02 12:59:13,NO,NO
99223,99224,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,SIN TITULO,"meu produto chegou e ja tenho que devolver, po...",2017-07-03,2017-07-03,1,SIN TITULO,"meu produto chegou e ja tenho que devolver, po...",2017-07-03,2017-07-03 21:01:49,NO,NO

In [120]:
reviews_aux["review_answer_timestamp_y"].head(15)

0    2018-01-18 21:46:59
1    2018-03-11 03:05:13
2    2018-02-18 14:36:24
3    2017-04-21 22:02:06
4    2018-03-02 10:26:53
5    2018-04-16 00:39:37
6    2017-07-18 19:30:34
7    2018-08-14 21:36:06
8    2017-05-18 12:05:37
9    2018-05-23 16:45:47
10   2017-12-26 14:36:03
11   2017-12-20 10:25:22
12   2018-02-20 10:52:22
13   2018-03-30 15:10:55
14   2017-05-03 00:02:22
Name: review_answer_timestamp_y, dtype: datetime64[ns]

In [168]:
reviews_aux.loc[((reviews_aux["review_score_x"]!=reviews_aux["review_score_y"]) | \
    (reviews_aux["review_comment_title_x"]!=reviews_aux["review_comment_title_y"])| \
    (reviews_aux["review_comment_message_x"]!=reviews_aux["review_comment_message_y"])| \
    (reviews_aux["review_creation_date_x"]!=reviews_aux["review_creation_date_y"].dt.normalize())| \
    (reviews_aux["review_answer_timestamp_x"]!=reviews_aux["review_answer_timestamp_y"].dt.normalize()))&\
    ((reviews_aux["review_creation_date_x"].notnull()) & (reviews_aux["review_creation_date_y"].notnull()))&\
    ((reviews_aux["review_answer_timestamp_x"].notnull()) & (reviews_aux["review_answer_timestamp_y"].notnull()))&\
    (reviews_aux.index<=reviews_ac.count()[0]-1),"UPDATE"]="SI"
reviews_aux.loc[reviews_aux.index>reviews_ac.count()[0]-1,"INSERT"]="SI"

In [169]:
# Creación del cursor,Update
cur = conn.cursor()
updateindex=list(reviews_aux[reviews_aux["UPDATE"]=="SI"].index)
for i in updateindex:
    cur.execute("""UPDATE order_reviews \
    SET review_score = %s \
    ,review_comment_title = %s  \
    ,review_comment_message = %s  \
    ,review_creation_date = %s  \
    ,review_answer_timestamp = %s  \
    WHERE review_unique_id= %s \
    """,(reviews_aux.loc[i,"review_score_y"],reviews_aux.loc[i,"review_comment_title_y"]\
    ,reviews_aux.loc[i,"review_comment_message_y"],reviews_aux.loc[i,"review_creation_date_y"]\
    ,reviews_aux.loc[i,"review_answer_timestamp_y"],reviews_aux.loc[i,"review_unique_id"]))
#conn.commit()
#cur.close()
# Creación del cursor,INSERT
cur = conn.cursor()
insertindex=list(reviews_aux[reviews_aux["INSERT"]=="SI"].index)
for i in insertindex:
    cur.execute("""INSERT INTO order_reviews( \
	 review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp) \
	VALUES (%s,%s,%s,%s,%s,%s,%s)""" \
    ,(reviews_aux.loc[i,"review_id"],reviews_aux.loc[i,"order_id"],reviews_aux.loc[i,"review_score_y"],reviews_aux.loc[i,"review_comment_title_y"]\
    ,reviews_aux.loc[i,"review_comment_message_y"],reviews_aux.loc[i,"review_creation_date_y"],reviews_aux.loc[i,"review_answer_timestamp_y"]))
#conn.commit()
#cur.close()

In [446]:
products_aux=pd.merge(left=products_ac,right=products_in,on='product_id',how='outer')
products_aux=pd.merge(left=products_aux,right=items_in[['product_id']].drop_duplicates(),on='product_id',how='outer')
products_aux["UPDATE"]="NO"
products_aux["INSERT"]="NO"

In [447]:
products_aux.loc[((products_aux["product_category_name_x"]!=products_aux["product_category_name_y"])|\
    (products_aux["product_photos_qty_x"]!=products_aux["product_photos_qty_y"])) &(products_aux.index<=products_ac.count()[0]-1),"UPDATE"]="SI"
products_aux.loc[products_aux.index>products_ac.count()[0]-1,"INSERT"]="SI"

In [448]:
products_aux["product_photos_qty_y"].fillna(0.0,inplace=True)
products_aux["product_category_name_y"].fillna()

In [ ]:
products_aux["product_photos_qty_x"].astype('int32')

In [450]:
# Creación del cursor,Update
cur = conn.cursor()
updateindex=list(products_aux[products_aux["UPDATE"]=="SI"].index)
for i in updateindex:
    cur.execute("""UPDATE products \
    SET product_category_name = %s \
    ,product_photos_qty = %s \
    WHERE product_id= %s"""\
    ,(products_aux.loc[i,"product_category_name_y"],products_aux.loc[i,"product_photos_qty_y"],products_aux.loc[i,"product_id"]))

In [451]:
cur = conn.cursor()
insertindex=list(products_aux[products_aux["INSERT"]=="SI"].index)
for i in insertindex:
    cur.execute("""INSERT INTO products( \
	product_id,product_category_name,product_photos_qty ) \
	VALUES (%s,%s,%s)"""\
    ,(products_aux.loc[i,"product_id"],products_aux.loc[i,"product_category_name_y"],products_aux.loc[i,"product_photos_qty_y"]))

ForeignKeyViolation: insert or update on table "products" violates foreign key constraint "products_product_category_name_fkey"
DETAIL:  Key (product_category_name)=(NaN) is not present in table "product_category_name_translation".

In [452]:
products_aux[products_aux["INSERT"]=="SI"]

,product_id,product_category_name_x,product_photos_qty_x,product_category_name_y,product_photos_qty_y,UPDATE,INSERT
32951,106392145fca363410d28815benewp1,NaN,NaN,neprodnewcategorynew,1.0,NO,SI
32952,e5f2d52b802189ee65886newproduct12,NaN,NaN,NaN,0.0,NO,SI

In [406]:
# Creación del cursor,Update
cur = conn.cursor()
updateindex=list(products_aux[products_aux["UPDATE"]=="SI"].index)
for i in updateindex:
    cur.execute("""UPDATE products \
    SET product_category_name = %s \
    ,product_photos_qty = %s \
    WHERE product_id= %s"""\
    ,(products_aux.loc[i,"product_category_name_y"],products_aux.loc[i,"product_photos_qty_y"],products_aux.loc[i,"product_id"]))
#conn.commit()
#cur.close()
# Creación del cursor,INSERT
cur = conn.cursor()
insertindex=list(products_aux[products_aux["INSERT"]=="SI"].index)
for i in insertindex:
    cur.execute("""INSERT INTO products( \
	product_id,product_category_name,product_photos_qty ) \
	VALUES (%s,%s,%s)"""\
    ,(products_aux.loc[i,"product_id"],products_aux.loc[i,"product_category_name_y"],products_aux.loc[i,"product_photos_qty_y"]))
conn.commit()
cur.close()

NumericValueOutOfRange: integer out of range

In [299]:
items_aux=pd.merge(left=items_ac,right=items_in,on=['order_id','order_item_id','product_id','seller_id'],how='outer')
items_aux["UPDATE"]="NO"
items_aux["INSERT"]="NO"

In [300]:
items_aux.loc[((items_aux["shipping_limit_date_x"]!=items_aux["shipping_limit_date_y"].dt.normalize())|\
 (items_aux["price_x"]!=items_aux["price_y"])| (items_aux["freight_value_x"]!=items_aux["freight_value_y"]))& \
((items_aux["shipping_limit_date_x"].notnull()) & (items_aux["shipping_limit_date_y"].notnull()))&\
(items_aux.index<=items_ac.count()[0]-1),"UPDATE"]="SI"

items_aux.loc[items_aux.index>items_ac.count()[0]-1,"INSERT"]="SI"

In [301]:
items_aux.tail()

,order_unique_id,order_id,order_item_id,product_id,seller_id,shipping_limit_date_x,price_x,freight_value_x,shipping_limit_date_y,price_y,freight_value_y,UPDATE,INSERT
112645,112646,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02,299.99,43.41,2018-05-02 04:11:01,299.99,43.41,NO,NO
112646,112647,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20,350.00,36.53,2018-07-20 04:31:48,350.00,36.53,NO,NO
112647,112648,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30,99.90,16.95,2017-10-30 17:14:25,99.90,16.95,NO,NO
112648,112649,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21,55.99,8.72,2017-08-21 00:04:32,55.99,8.72,NO,NO
112649,112650,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12,43.00,12.79,2018-06-12 17:10:13,43.00,12.79,NO,NO

In [302]:
# Creación del cursor,Update
cur = conn.cursor()
updateindex=list(items_aux[items_aux["UPDATE"]=="SI"].index)
for i in updateindex:
    cur.execute("""UPDATE order_items \
    SET shipping_limit_date = %s \
    ,price = %s \
    ,freight_value = %s \
    WHERE order_unique_id= %s"""\
    ,(items_aux.loc[i,"shipping_limit_date_y"],items_aux.loc[i,"price_y"]\
    ,items_aux.loc[i,"freight_value_y"],items_aux.loc[i,"order_unique_id"]))
#conn.commit()
#cur.close()
# Creación del cursor,INSERT
cur = conn.cursor()
insertindex=list(items_aux[items_aux["INSERT"]=="SI"].index)
for i in insertindex:
    cur.execute("""INSERT INTO order_items( \
	 order_id,order_item_id,product_id,shipping_limit_date,price,freight_value) \
	VALUES (%s,%s,%s,%s,%s,%s)"""\
    ,(items_aux.loc[i,"order_id"],items_aux.loc[i,"order_item_id"],items_aux.loc[i,"product_id_y"],items_aux.loc[i,"shipping_limit_date_y"]\
    ,items_aux.loc[i,"price_y"],items_aux.loc[i,"freight_value_y"]))
#conn.commit()
#cur.close()

In [193]:
items_aux.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112650 entries, 0 to 112649
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   order_unique_id        112650 non-null  int64
 1   order_id               112650 non-null  object
 2   order_item_id          112650 non-null  int64
 3   product_id             112650 non-null  object
 4   seller_id              112650 non-null  object
 5   shipping_limit_date_x  112650 non-null  datetime64[ns]
 6   price_x                112650 non-null  float64
 7   freight_value_x        112650 non-null  float64
 8   shipping_limit_date_y  112650 non-null  datetime64[ns]
 9   price_y                112650 non-null  float64
 10  freight_value_y        112650 non-null  float64
 11  UPDATE                 112650 non-null  object
 12  INSERT                 112650 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(2), object(5)
memory usage: 12.0+ MB

In [ ]:
conn.close()